  .Big {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 101%;
    margin-left: -10px;
    justify-content: space-around;
    height: 101vh;
    overflow-x: hidden;
    background-color: #111;
  }

  .err {
    color: red;
    font-weight: bolder;
    text-align: left;
    margin-left: 43px;
  }
  .login-form {
    position: fixed;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 500px;
    margin-left: 0;
    height: 380px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .login-form h1 {
    font-family: "Neue Helvetica";
    text-align: center;
    font-size: 40px;
    color: rgb(20, 20, 20);
  }
  .login-form form {
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
  }
  .login-form input {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: rgb(38, 38, 38);
    margin: 0 40px 6px;
    padding: 10px;
    width: 250px;
  }
  .login-form button {
    background: linear-gradient(45deg, rgb(200, 57, 0), rgb(236, 193, 0));
    color: white;
    font-weight: bolder;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 0 40px 6px;
    padding: 10px;
    width: 272px;
  }
  .signup-link-box {
    background-color: #fff;
    padding: 10px;
    max-width: 350px;
    margin: 10px auto;
  }
  .signUp {
    color: rgb(187, 84, 0);
  }
  .logggo {
    margin-top: 700px;
    width: 300px;
    height: 150px;
    background-image: url('../../images/logggo.png');
  }
  .signup-form {
    position: fixed;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 500px;
    margin-left: 0;
    height: 600px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .signup-form h1 {
    font-family: "Neue Helvetica";
    text-align: center;
    font-size: 40px;
    color: rgb(20, 20, 20);
  }
  .signup-form form {
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  .signup-form input {
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    color: rgb(38, 38, 38);
    margin: 0 40px 6px;
    padding: 10px;
    width: 250px;
  }
  .signup-form button {
    background: linear-gradient(45deg, rgb(200, 57, 0), rgb(236, 193, 0));
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 0 40px 6px;
    padding: 10px;
    width: 275px;
  }
  .login-link-box {
    background-color: #fff;
    padding: 10px;
    max-width: 350px;
    margin: 10px auto;
    text-align: center;
  }

  .login-form .demoButton {
    margin-left: 50px;
  }
